<section>
  <h3>Recipes details</h3>
  <div class="recipe-details">
    <h1><%= @recipe.name %></h1>
    <p>Preparation time: <%= @recipe.preparation_time %></p>
    <p>Cooking time: <%= @recipe.cooking_time %></p>
    <p>Steps go here...</p>
    <button>Generate a shopping list</button>
    <button>Add ingredient</button>
  </div>
  <div class=""></div>
  <%= link_to("All Recipes", recipes_path) %>
</section>
